<!doctype html>
<html>
  <head>
    <title>A Mazing game </title>
    <link href="/../base.css" rel="stylesheet" type="text/css">
  </head>
  <script src="/socket.io/socket.io.js"></script>
  <body>
    <script src="/../clientUpdates.js"></script>
    <script src="/../pixi/pixi.min.js"></script>
    <script src="/../pixi/pixi-sound.js"></script>
    <script src="/../pixi/pixi-layers.js"></script>
    <script src="/../pixi/PixiTextInput.js"> </script>
    <script src="/../phaser/phaser.min.js"></script>
    <script src="/../movePlayers.js"> </script>
  </body>
</html>
