<!doctype html>
<html>
  <head>
    <title>A Mazing game </title>
    <link href="/../base.css" rel="stylesheet" type="text/css">
  </head>
  <script src="/socket.io/socket.io.js"></script>
  <body>
    
    <!-- Add the maze generator here-->
    <canvas id="c2d" class="c2d" width="510" height="510"></canvas>
    <script src = "/../maze.js"></script>
    <!-- End of maze generator -->
    
    <script src="/../pixi/pixi.min.js"></script>
    <script src="/../pixi/pixi-sound.js"></script>
    <script src="/../pixi/pixi-layers.js"></script>
    <script src="/../phaser/phaser.min.js"></script>
    <script src="/../movePlayers.js"> </script>
  </body>
</html>
